span.error{
	color : red !important;
}

table.sorting tr:not(.home){
	cursor : pointer;
}

.ui-state-highlight{
	border : 1px dashed #FFD700;
}

.ck.ck-content{
	height : 200px;
}

html, 
body {
    height: 100%;
}
/*
.home{
	background: url("/images/girlshopping.jpg") center;
	background-repeat: no-repeat;
	background-size: 1300px 750px;
}*/