<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav :: nav-admin"></nav>

<body>
	<div class="container">
		<h1 class="display-2">Products</h1>
		<a href="/admin/products/addproduct" class="btn btn-primary">
			Add new </a>
		<div th:if="${message}" th:text="${message}" th:class= "${'alert ' + alertClass }"></div>
		<div th:if="${!products.empty}">
			<table class="table">
				<tr class="tableheading">
					<th>Name</th>
					<th>Image</th>
					<th>Category</th>
					<th>Price</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="product : ${products}"
					th:id="'id_' + ${product.id}">
					<td th:text="${product.name}"></td>
					
					<td>
						<img style="width:75px" th:src="@{'/media/' + ${product.image}}">
					</td>
					
					<td th:text="${catMap[__${product.categoryId}__]}"></td>
					
					<td th:text="'$ ' + ${product.price}"></td>
					<td><a
						th:href="@{'/admin/products/editproduct/'+ ${product.id}}">
							Edit </a></td>
					<td><a
						th:href="@{'/admin/products/deleteproduct/' + ${product.id}}"
						th:class="confirmDeletion"> Delete </a></td>
				</tr>
			</table>
		</div>
		
		<nav class = "mt-3" th:if="${count > perPageCount}">
			<ul  class="pagination">
				<li class="page-item" th:if="${pageRequested > 0}">
					<a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${pageRequested-1}__'" class="page-link"> Previous</a>
				</li>
				<li class="page-item" th:each="number: ${#numbers.sequence(0, totalPages-1)}" th:classappend="${pageRequested == number} ? 'active' : ''">
					<a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
				</li>
				<li class="page-item" th:if="${pageRequested < totalPages-1}">
					<a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${pageRequested+1}__'" class="page-link">Next</a>
				</li>
			</ul>
		</nav>
		
		<div th:unless="${!products.empty}">
			<h4 class="display-4">pages are NOT available</h4>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
	
</body>
</html>